/* Pantallas grandes superiores a 1600px*/
@media (min-width: 1600px) {
    .layout {
        min-width: 1600px;
    }

    .layout__menu {
        padding: 4rem 10rem;
    }

    .layout__banner {
        position: relative;
        min-height: 85rem;
        margin: 0 10rem;
        padding: 25rem 0 30rem 20rem;
        border-radius: 60px;


    }
}

@media (max-width: 1600px) {
    .layout__banner {
        border-radius: 60px;
    }
}

@media (max-width:1575px) {
    .projects__all {
        display: flex;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        gap: 3.5rem 6.5rem;

    }

    .projects__project {
        width: calc(50% - 3.5rem);
    }

    .clients__logos {
        gap: 0;
    }

    .footer__social {
        gap: 0rem;
        justify-content: space-between;
    }

    .stats__progress {
        gap: 2rem;
        cursor: pointer;
        justify-content: space-between;
    }
}

@media (min-width:1200px) and (max-width:1400px) {


    .services__grid,
    .contact__container {
        max-width: 100%;
        padding: 0 5rem;
    }

    .layout__menu {
        padding: 2rem 3rem;
    }

    .projects__grid {
        max-width: 100%;
        padding: 9rem 5rem;
    }

    .layout__news {
        padding: 10rem 4rem;
    }

    .footer__social {
        justify-content: space-between;
        gap: 0;
    }

    .layout__stats {
        padding: 10rem 7rem;
    }

    .stats__progress {
        gap: .5rem;

        justify-content: space-between;
    }

    .review__description {
        font-size: 2.3rem;
    }

    .new__container-img {
        flex: 1;
    }

    .layout__footer {
        padding: 0 7rem;
    }

    .services__service {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .service__container-img {
        margin-right: 1rem;
    }

    .reviews__container {
        gap: 1rem;
    }

    .reviews__review {
        width: calc(33% -2.5rem);

    }


    .contact__images::before {

        width: 80%;

        left: 14%;
        right: 20%;
        opacity: .2;
    }

    .contact__thumb {
        left: 33%;
    }

    .contact__thumb--laptop {
        left: 12%;
    }

    .contact__thumb--mobile {
        left: 71%;
    }

    .clients__header {
        position: relative;
        z-index: 2;
    }


}

@media (max-width: 1200px) {
    .layout {
        min-width: 990px;
    }

    .layout__menu {
        padding: 3rem;
    }

    .shapes__item {
        width: 50%;
    }

    .banner__title {
        font-size: 6rem;
    }

    .banner__btn {
        padding: 2.5rem 4.5rem;
    }

    .layout__services {
        margin: 12rem 3rem;
    }

    .services__list {
        gap: 1rem;
    }

    .service__container-img {
        margin-right: 1rem;
    }

    .services__service {
        padding: 6rem 3rem;
    }

    .service-shapes--shape1 {
        top: -10%;
        right: 3%;
    }

    .projects__grid {
        padding: 12rem 3rem;
    }

    .projects__all {
        gap: 3.5rem 4.5rem;
    }

    .layout__stats {
        padding: 12rem 3rem
    }

    .layout__reviews {
        padding: 12rem 3rem;
    }

    .review__description {
        font-size: 2.1rem;
    }

    .layout__clients {
        padding: 12rem 3rem;
    }

    .clients__img {
        width: 120%;
    }

    .clients__logos {
        justify-content: space-around;
    }

    .clients__header {
        position: relative;
        z-index: 2;
    }

    .layout__news {
        padding: 12rem 3rem;
    }

    .news__list {
        flex-direction: column;
    }

    .news__new:last-child {
        border-left: none;
    }

    .contact__images::before {

        width: 80%;

        left: 14%;
        right: 20%;
        opacity: .2;
    }

    .contact__thumb {
        left: 33%;
        bottom: -158%;
    }

    .contact__images::before {
        bottom: -158%;
    }

    .contact__img {
        width: 90%;
    }

    .contact__thumb--laptop {
        left: 12%;
    }

    .contact__thumb--mobile {
        left: 71%;
    }

    .layout__contact {
        padding-top: 12rem;
        padding-bottom: 30rem;
        margin-bottom: 26rem;
    }

    .layout__footer {
        padding: 0 3rem;
    }

    .footer__top {
        margin-bottom: 5rem;
    }

    .footer__main {
        margin-bottom: 6rem;
    }

    .fleft__subtitle {
        font-size: 1.9rem;
    }

    .fleft__container {
        padding-right: 4rem;
    }

    .widget__link {
        font-size: 1.9rem;
    }

    .footer__botton {
        padding: 3rem 0;
    }

    .copyright__text {
        font-size: 1.6rem;
    }

    .flinks__title {
        font-size: 1.6rem;
    }

    .flinks__item--separator::after {
        right: -7%;
    }

    .nav__item {
        margin: 0 2rem;
    }

    .layout__banner {
        padding-left: 10rem;
    }

    .banner__title {
        margin-top: 5rem;
    }
}

@media (max-width:1000px) {

    .switcher{
        left: initial;
        right: 0;
        top: 25%;
        z-index: 99999999;
    }

    .switcher__btn{
        border-radius: 40px 0 0 40px;    
    }
    
    





    .navbar__btn-menu{
        display: block;
    }
    .layout {
        min-width: auto;
    }

    .navbar__nav {
        display: none;
    }

    .services__header {
        margin-bottom: 6rem;
    }

    .services__list {
        flex-direction: column;
    }

    .services__service {
        padding: 4rem 2rem;
        margin: 0 0 3rem;
        width: 95%;
    }

    .service__link {
        font-size: 2.8rem;
    }

    .service__container-img {
        max-width: 8rem;
        margin-right: 3rem;
    }

    .service__description {
        font-size: 2rem;
    }

    .service__more::before {
        left: -6%;
    }

    .service-shapes--shape2 {
        top: 5%;
        right: 48%;
    }

    .service-shapes--shape3 {
        top: 71%;
        left: -2%;

    }

    .layout__services {
        margin: 10rem 3rem;
    }

    .stat__count {
        font-size: 6rem;
    }

    .stat__title {
        font-size: 1.8rem;
    }

    .services__subtitle,
    .projects__subtitle,
    .stats__subtitle,
    .reviews__subtitle,
    .clients__subtitle,
    .news__subtitle,
    .contact__subtitle {
        font-size: 1.8rem;
    }

    .services__title,
    .projects__title,
    .stats__title,
    .reviews__title,
    .clients__title,
    .news__title,
    .fleft__title,
    .contact__title {
        font-size: 5rem;
    }

    .contact__btn {
        padding: 2rem 4rem;
    }

    .social__img {
        font-size: 2.8rem;
    }

    .footer__fright {
        padding-left: 2rem;
    }

    .widget__title {
        font-size: 2.1rem;
        margin-bottom: 1.2rem;
    }

    .widget__link {
        font-size: 1.8rem;
        padding: 1rem 0;
    }

    .footer__main {
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .fleft__container {
        margin-bottom: 6rem;
        border: none;
        width: 80%;
    }

    .footer__fright {
        padding-left: 0;
    }

    /* .fleft__btn {
        padding: 1.2rem 1rem;
        border-radius: 15px;
        font-size: 1.3rem;
        top: 9%;
    }

    .fleft__form-control {
        height: 5rem;
        padding-left: 3.2rem;
        border-radius: 17px;
        box-shadow: -12px 25px 50px -18px rgba(0,0,0,.25);
        font-size: 1.5rem;
        /* border: 1px solid red; */
    /* 
    }

    .fleft__icon {
        top: 31%;
        left: 2%;
        font-size: 1.7rem;
    }  */

    .project__link-title {
        font-size: 2.8rem;
    }

    .project__content {
        padding: 4rem;
    }

    .projects__all {
        gap: 3rem 2rem;
    }

    .stats__header {
        margin-bottom: 10rem;
    }

    .stats__progress {
        gap: 3;
        flex-wrap: wrap;
        justify-content: center;
    }

    .stats_stat {
        width: calc(50% - 1.5rem);
    }

    .new__link {
        font-size: 2.5rem;
    }

    .fleft__subtitle {
        font-size: 1.5rem;
    }

    .fleft__form {
        margin-top: 3rem;
    }

    .layout__contact {
        padding-top: 8rem;
        margin-bottom: 20rem;
    }

    .layout__services {
        margin: 0;
    }

    .service-shapes--shape1 {
        width: 60%;
        top: 9%;
    }

    .layout__news,
    .layout__clients,
    .layout__reviews,
    .layout__stats,
    .projects__grid,
    .layout__services {
        padding: 8rem 3rem;
    }

    .project-shapes--shape2 {
        top: 42%;
        left: 84%;
    }

    .reviews__container {
        flex-direction: column;
        gap: 6rem;
    }

    .review__description {
        font-size: 1.9rem;
        margin-bottom: 2rem;
    }

    .review__author {
        gap: 1rem;
    }

    .author__img {
        width: 55px;
    }

    .author__name {
        font-size: 1.7rem;
    }

    .author__job {
        font-size: 1.5rem;
    }

    .clients__logos {
        margin-top: 5rem;
        flex-wrap: wrap;
    }

    .clients__item {
        width: calc(50%);
        justify-content: center;
        text-align: center;
    }

    .clients__img {
        width: 80%;
        display: inline-block;
    }

    .contact__img {
        width: 70%;
    }

    .contact__thumb--mobile {
        left: 64%;
    }

    .layout__contact {
        padding-top: 12rem;
        padding-bottom: 20rem;
    }

    .contact__thumb,
    .contact__images::before {
        bottom: -128%;
    }

    .footer__botton {
        padding: 1.5rem 0;
        align-items: center;

    }

    .copyright__text {
        font-size: 1.2rem;
    }

    .flinks__title {
        font-size: 1.2rem;
    }

    .flinks__item--separator::after {
        right: -10%;
    }
}

@media (max-width:780px) {
    .layout__banner {
        min-height: 100%;
        padding: 4rem 3rem;
    }

    .banner__title {
        margin-top: 2rem;
        font-size: 4.8rem;
    }

    .banner__btn {
        padding: 2rem 2.5rem;
        border-radius: 15px;
    }

    .services__subtitle,
    .projects__subtitle,
    .stats__subtitle,
    .reviews__subtitle,
    .clients__subtitle,
    .news__subtitle,
    .contact__subtitle {
        font-size: 1.5rem;
    }

    .services__title,
    .projects__title,
    .stats__title,
    .reviews__title,
    .clients__title,
    .news__title,
    .fleft__title,
    .contact__title {
        font-size: 4rem;
    }

    .fleft__container {
        width: 100%;
    }

    .layout__news,
    .layout__clients,
    .layout__reviews,
    .layout__stats,
    .projects__grid,
    .layout__services {
        padding: 6rem 3rem;
    }

    .projects__all {
        flex-direction: column;
    }

    .projects__project {
        width: 100%;
    }

    .layout__contact {
        padding-top: 5rem;
    }

    .news__new {
        flex-direction: column;
    }

    .new__container-img {
        margin-bottom: 2rem;
        margin-right: 0;
    }

    .shapes__item--shape3 {
        top: 84%;
        left: 58%;
    
        animation: moveShape3 20s infinite;
    }
    
    @keyframes moveShape3 {
        0% {
            transform: translate(0, 0);
        }
    
        40% {
            transform: translate(50px, -20px);
        }
    
        75% {
            transform: translate(-60px, 40px);
        }
    
        100% {
            transform: translate(0, 0);
        }
    }

    .shapes__item--shape4 {
        bottom: 50%;
        left: 10%;
        animation: moveShape4 28s infinite;
    }
    
    @keyframes moveShape4 {
        0% {
            transform: translate(0, 0);
        }
    
        40% {
            transform: translate(100px, 180px);
        }
    
        75% {
            transform: translate(-120px, -120px);
        }
    
        100% {
            transform: translate(0, 0);
        }
    }

    .shapes__item--shape5 {
        bottom: 10%;
        left: initial;
        right: -40%;
        opacity: .7;
        animation: moveShape5 45s infinite;
    }
    
    @keyframes moveShape5 {
        0% {
            transform: translate(0, 0);
    
        }
    
        40% {
            transform: translate(-150px, -100px);
    
        }
    
        65% {
            transform: scale(1.5);
        }
    
        75% {
            transform: translate(-400px, -200px);
    
        }
    
        85% {
            transform: scale(2);
        }
    
        100% {
            transform: translate(0, 0);
        }
    }

    .shapes__item--shape6 {
    
        bottom: 10rem;
        left: 45%;
        animation: moveShape6 34s infinite;
    }
    
    @keyframes moveShape6 {
        0% {
            transform: translate(0, 0);
        }
    
        40% {
            transform: translate(-10px, -50px);
        }
    
        75% {
            transform: translate(-40px, 10px);
        }
    
        100% {
            transform: translate(0, 0);
    
        }
    }

    .service-shapes--shape2 {
        top: 44%;
        right: 0%;
    }
}

@media (max-width:640px) {

    .layout {
        overflow-x: hidden;
    }

    .services__grid,
    .projects__grid,
    .stats__container,
    .contact__container,
    .reviews__grid,
    .clients__container,
    .news__container,
    .footer__container {
        max-width: 54rem;
    }

    .navbar__logo-light {
        width: 80%;
    }

    .layout__menu {
        padding: 2rem 1.5rem;
    }

    .layout__banner {
        padding: 3rem 1rem;
        max-height: 25rem;
        margin: 0 1.5rem;
        border-radius: 25px;
    }

    .banner__title {
        font-size: 2.5rem;
    }

    .banner__btn {
        padding: 1rem;
        font-size: 1.3rem;
        border-radius: 10px;
    }

    .services__subtitle,
    .projects__subtitle,
    .stats__subtitle,
    .reviews__subtitle,
    .clients__subtitle,
    .news__subtitle,
    .contact__subtitle {
        font-size: 1.3rem;
    }

    .services__title,
    .projects__title,
    .stats__title,
    .reviews__title,
    .clients__title,
    .news__title,
    .fleft__title,
    .contact__title {
        font-size: 2.8rem;
    }

    .layout__news,
    .layout__clients,
    .layout__reviews,
    .layout__stats,
    .projects__grid,
    .layout__services {
        padding: 5rem 1.5rem;
    }

    .service__title {
        margin-bottom: 1.5rem;
    }

    .service__link {
        font-size: 2rem;
    }

    .service__description {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .service__more {
        font-size: 1.5rem;
    }

    .service__more::before {
        left: -25%;
    }

    .services__service {
        padding: 2rem;
    }

    /* .service-shapes--shape2 {
        top: 9%;
        right: 52%;
    } */

    .projects__categories {
        display: flex;
        gap: 0rem;
        margin: 3rem 0;
        justify-content: space-around;
    }

    .categories__item {
        font-size: 1.2rem;
    }

    .project__link-title {
        font-size: 2.5rem;
    }

    .project__tag {
        font-size: 1.5rem;
    }

    .stats__description {
        font-size: 1.5rem;
    }

    .stats__header {
        margin-bottom: 3rem;
    }

    .stat__count {
        font-size: 4rem;
    }

    .stat__title {
        font-size: 1.2rem;
    }

    .reviews__description,
    .news__description {
        font-size: 1.8rem;
        margin-top: 1.5rem;
    }

    .reviews__header,
    .news__header {
        margin-bottom: 3rem;
    }

    .review__description {
        font-size: 1.7rem;
    }


    .clients__desciption {
        font-size: 1.7rem;

    }

    .review__img {
        margin-bottom: 1.5rem;
    }

    .new__link {
        font-size: 2rem;
    }

    .new__description {
        font-size: 1.7rem;
    }

    .news__new {
        padding: 3rem 1.5rem;
    }

    .contact__btn {
        margin-top: 1.5rem;
        padding: 2rem 3rem;
    }

    .contact__thumb {
        min-width: 100%;
        bottom: -90%;
    }

    .contact__thumb-1 .contact__img {
        width: 62%;
        left: 22%;
    }

    .contact__thumb--laptop .contact__img {
        width: 30%;
        left: -5%;
    }

    .contact__thumb--mobile .contact__img {
        width: 28%;
        left: 52%;
    }

    .contact__images::before {
        bottom: -90%;
    }

    .layout__contact {
        padding-bottom: 13rem;
        margin-bottom: 13rem;
    }

    .contact__btn {
        font-size: 1.8rem;
        padding: 2rem;
    }



    .layout__footer {
        padding: 0 1.5rem;
    }

    .fleft__container {
        padding: 0;
    }

    .fleft__form-control {
        border: 1px solid var(--color-borders);
        height: 6rem;
        font-size: 1.2rem;
        padding-left: 4rem;
        border-radius: 18px;
        box-shadow: -8px 12px 40px -20px black;
    }

    .fleft__icon {
        font-size: 1.7rem;
        top: 34%;
        left: 4%;
    }

    .fleft__btn {
        font-size: 1.8rem;
        padding: 1.5rem 1.2rem;
        border-radius: 18px;
        top: 6%;
    }


    .widget__title {
        font-size: 1.8rem;
    }

    .widget__link {
        font-size: 1.5rem;
        padding-bottom: .2rem;
    }



    .footer__botton {
        flex-direction: column;
    }

    .footer__flinks {
        gap: 0;
    }

    .flinks__item--separator::after {
        right: 5%;
    }

    .social__img{
        font-size: 2.5rem;
    }

    .footer__widget--50{
        flex-basis: 45%;
    }

    .footer__fright{
        gap: 1rem;
    }
}